.input-bar {
  display: flex;
}

@media (max-width: 600px) {
  .input-bar {
    display: table-row;
  }

  .input-bar-container {
    width: 60%;
    align-items: baseline;
  }
}

.input-bar-container {
  margin: auto;
  max-width: 800px;
  padding: 20px;
}

select, input[type="text"], [type="number"] {
  background: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 4px;
  padding: 8px 10px;
  width: 90%;
}

select {
  min-width: 200px;
  width: 95%;
}

.label {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 12px;
}


button {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.customer-table {
  float: right;
}

.header {
  background-color: #246A73;
  padding: 20px;
  color: #dddddd;
}

h2 {
  margin: 0px
}

.add-button img {
  width: 30px;
}

.add-button {
  align-items: bottom;
  border: none;
  opacity: 0.7;
  background-color: transparent;
  height: 40px;
  padding: 4px;
  flex-direction: row;
  margin-top: 28px;
}
