.main-table {
   min-width: 800px;
}

@media (max-width: 850px) {
   .main-table {
      min-width: 100px;
   }
 }

td, th {
  text-align: left;
  color: #444444;
  font-size: 14px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #dddddd;
}

th {
  color: #555555;
}

.num-column {
  text-align: right;
}

.date-column, .actions-column {
  text-align: center;
}

.debts-table {
  padding: 20px;
}

.customer-button {
   color: #006FFF;
   border: none;
   background-color: transparent;
   font-size: 14px;
}

.customer-button:hover {
   color: orange;
}

.remove-button {
  border: none;
  background-color: transparent;
  color: #006FFF;
  font-size: 14px;
  margin-right: 15px;
  text-decoration: underline;

}

.remove-button:hover {
  border: none;
  background-color: transparent;
  color: red;
  margin-right: 15px;
}

.edit-button {
  background-color: transparent;
  border: none;
  color: #006FFF;
  font-size: 14px;
  text-decoration: underline;
}

.edit-button:hover {
  color: orange;
}